* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

#main-logo {
    padding: 10px 5px 5px 20px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

/* MAIN */

.container {
    background-color: #f6f8f9;
    height: 1000px;
}

/* MAIN (HEADER) */

.container-header {
    width: 1000px;
    height: 70px;
    background-color: #ffffff;
    margin: 20px auto 5px;
    border-radius: 10px 10px 0 0;
}

#but {
    width: 85px;
    height: 30px;
    background-color: #47adf1;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 3% 0 0 5%;
}

#but2 {
    width: 100px;
    height: 31px;
    background-color: #ffffff;
    font-weight: bold;
    color: #d0d5d9;
    border: 2px solid #d0d5d9;
    border-radius: 5px;
}

/* MAIN (SECTION) */

.container-section {
    width: 1000px;
    background-color: #ffffff;
    margin: 3px auto;
}

ul {
    list-style-type: none;
    padding: 3% 0 5% 5%;
}

.section-title {
    font-weight: bold;
}

.content-section {
    margin-top: 1.5%;
}

.spunta {
    display: inline-block;
    color: #71c7b2;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 2px solid #71c7b2;
    text-align: center;
    line-height: 100%;
}

.type-content {
    font-size: x-small;
    color: #ffffff;
    border-radius: 14px;
    padding: 7px 15px;
    background-color: #45abe9;
}